//
// Base Styles //
//
html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

//
// Container, Row //
//
.container,
.container-fluid {
    position: relative;
    padding: 0 30px;
}

.row {
    margin-bottom: -30px;

    div[class^="col-"]:not(.row) {
        margin-bottom: 30px;
    }
}

//
// Column Spacing //
//
@include breakpoint-above(md) {

    .col-spacing-70,
    .col-spacing-60,
    .col-spacing-50,
    .col-spacing-40 {
        .row {
            &:not([class^="col-spacing-"], [class*=" col-spacing-"]) {
                margin-right: -15px;
                margin-bottom: -30px;
                margin-left: -15px;

                div[class^="col-"]:not(.row) {
                    margin-bottom: 30px;
                    padding: 0 15px;
                }
            }
        }
    }

    .col-spacing-70 {
        margin-right: -35px;
        margin-bottom: -70px;
        margin-left: -35px;

        div[class^="col-"]:not(.row) {
            margin-bottom: 70px;
            padding: 0 35px;
        }
    }

    .col-spacing-60 {
        margin-right: -30px;
        margin-bottom: -60px;
        margin-left: -30px;

        div[class^="col-"]:not(.row) {
            margin-bottom: 60px;
            padding: 0 30px;
        }
    }

    .col-spacing-50 {
        margin-right: -25px;
        margin-bottom: -50px;
        margin-left: -25px;

        div[class^="col-"]:not(.row) {
            margin-bottom: 50px;
            padding: 0 25px;
        }
    }

    .col-spacing-40 {
        margin-right: -20px;
        margin-bottom: -40px;
        margin-left: -20px;

        div[class^="col-"]:not(.row) {
            margin-bottom: 40px;
            padding: 0 20px;
        }
    }

    .container-fluid {
        .col-spacing-70 {
            margin-right: 5px;
            margin-left: 5px;
        }

        .col-spacing-60 {
            margin-right: 0;
            margin-left: 0;
        }

        .col-spacing-50 {
            margin-right: -5px;
            margin-left: -5px;
        }

        .col-spacing-40 {
            margin-right: -10px;
            margin-left: -10px;
        }
    }
}

.col-spacing-20,
.col-spacing-10,
.col-spacing-0 {
    .row {
        margin-right: -15px;
        margin-bottom: -30px;
        margin-left: -15px;

        div[class^="col-"]:not(.row) {
            margin-bottom: 30px;
            padding: 0 15px;
        }
    }
}

.col-spacing-20 {
    margin-right: -10px;
    margin-bottom: -20px;
    margin-left: -10px;

    div[class^="col-"]:not(.row) {
        margin-bottom: 20px;
        padding: 0 10px;
    }
}

.col-spacing-10 {
    margin-right: -5px;
    margin-bottom: -10px;
    margin-left: -5px;

    div[class^="col-"]:not(.row) {
        margin-bottom: 10px;
        padding: 0 5px;
    }
}

.col-spacing-0 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    div[class^="col-"]:not(.row) {
        margin-bottom: 0;
        padding: 0;
    }
}

.container-fluid {
    .col-spacing-20 {
        margin-right: -20px;
        margin-left: -20px;
    }

    .col-spacing-10 {
        margin-right: -25px;
        margin-left: -25px;
    }

    .col-spacing-0 {
        margin-right: -30px;
        margin-left: -30px;
    }
}


//
// Positioning //
//
.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

.position-middle {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
    margin: 0 auto;
}

.position-top,
.position-bottom {
    position: absolute;
    left: 0;
    width: 100%;
}

.position-top {
    top: 30px;
}

.position-bottom {
    bottom: 30px;
}

.container,
.container-fluid {

    .position-top,
    .position-bottom {
        padding: 0 30px;
    }
}


//
// Blockquote Styles //
//
.blockquote {
    background: $bg-grey-lighter;
    margin-bottom: 20px;
    border-left: 4px solid $color-black-01;
    padding: 24px 30px;

    @include breakpoint-less(sm) {
        padding: 16px 20px;
    }

    p {
        font-size: 16px;
        line-height: 30px;

        &.font-small {
            font-size: 14px;
            line-height: 26px;
        }

        &.font-large {
            font-size: 20px;
            line-height: 36px;
        }
    }

    &.style-2 {
        background: transparent;
        padding: 16px 30px;

        @include breakpoint-less(sm) {
            padding: 16px 20px;
        }
    }

    &.style-3 {
        position: relative;
        background: transparent;
        border: 0;
        padding: 20px 20px 20px 40px;

        @include breakpoint-less(sm) {
            padding: 16px 16px 16px 36px;
        }

        &:before {
            content: '\f10d';
            position: absolute;
            top: 0;
            left: 0;
            color: $color-black-01;
            font-family: "Font Awesome 5 Free";
            font-size: 24px;
            font-weight: 900;
        }
    }
}


//
// Card //
//
.card {
    border: 1px solid $color-black-01;
}

//
// Dropdown Styles //
//
.dropdown,
.btn-group {
    .dropdown-menu {
        border: 0;
        border-radius: 0;
        @include box-shadow(0 6px 36px -4px rgba(22, 24, 26, 0.14));
        padding: 15px 20px;

        .dropdown-item {
            margin-bottom: 10px;
            padding: 0;
            color: $color-dark;
            font: 300 15px $font-family-primary;
            letter-spacing: 0;
            text-transform: none;
            @include transition(linear 0.1s);

            &:last-child {
                margin: 0;
            }

            &:hover,
            &:focus,
            &:active {
                background: transparent;
                color: $color-primary;
            }
        }
    }
}


//
// Nav Styles //
//
.nav {
    margin: 0;
    padding: 0;

    .nav-item {
        margin: 0 30px 0 0;

        &:last-child {
            margin-right: 0;
        }

        .nav-link {
            padding: 0;
            color: $color-primary;
            @include transition(linear 0.1s);

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
                color: $color-primary;
                @include transition(linear 0.1s);
            }

            &.active,
            &:hover {
                color: $color-dark;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: $color-dark;
                }
            }
        }
    }

    &.nav-custom {
        .nav-item {
            .nav-link {
                position: relative;
                overflow: visible;

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -1px;
                    left: 0;
                    background: $color-dark;
                    height: 1px;
                    @include animation(button-line-out 0.24s cubic-bezier(0.165, 0.84, 0.44, 1) both);
                }

                &.active {
                    &:after {
                        width: 100%;
                        @include animation(button-line-in 0.24s cubic-bezier(0.165, 0.84, 0.44, 1) both);
                    }
                }
            }
        }
    }
}


//
// Scroll To Top button //
//
.scrolltotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    @include transform(translateY(20px));
    z-index: 992;
    visibility: hidden;
    opacity: 0;
    @include transition(ease-out 0.12s);

    &.scrolltotop-show {
        @include transform(translateY(0));
        visibility: visible;
        opacity: 1;
    }
}